body {
    background-image: url(Stones2.jpg);
    background-attachment: fixed;
    margin:0
}
body:link
{
    color:black;
}
#logo{
    margin-left: 0%;
    margin: 1%;
    float:left;
    width:180px;
    height:110px;
}
.rocks
{
    height: 160px;
    width: 160px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  
}
.shop
{

    text-align: center;
    color: rgb(209, 209, 209);
    background-color:rgba(27, 116, 119, 0.712);
}
.text
{
    margin-top: 10px;
    text-align: left;
}
.textsmall
{
    margin-top: 10px;
    text-align: left;
    font-size: 7px;
}
a  {
    text-decoration: none; font-weight:normal;
} 
.one{
    height: 150px;
    margin: 0 auto;
    background-color:rgba(46, 218, 224, 0.473);
    padding-top:10px;
    padding-bottom: 20px;
    font-size: 20px;
}
.calculate {
    color: rgb(209, 209, 209);
    background-color:rgba(27, 116, 119, 0.712);
    margin: 0 auto;
    max-width: 100%; 
}

.dva {
    margin: auto;
    flex: 1 1 1 auto;
    display: flex;
    background-color:rgba(5, 11, 59, 0.822);
    max-width: 100%; 
    font-size: 5px; 
    text-align:center;
}
._1 {
    order:1;
}
._2 {
    order:2;
}
._3 {
    order:3;
}
.dva a {
    color:rgb(182, 186, 250);
    font-size: 18px;
    margin:0;
}      


a:hover {
    color:rgb(16, 126, 2);
}

.tri {
    order:1;
    text-align:left;

    font-size: 15px;
    line-height: 1;
}
#flex {
    background-color:rgba(215, 218, 245, 0.753);
    flex-direction: column;
    flex: 1 1 1 auto;
    display: flex;
    margin: 0 auto;
    max-width:100%; 
    font-size: 15px;
}
.footer {
    background-color:rgb(182, 182, 184); 
    margin:0 auto;
    color:rgb(182, 182, 184);  
}
table {
     margin:0 auto;
     text-align: center;
}
.table{
    order: 3;
    background-color:rgba(51, 35, 196, 0.342);
}
.tabl{
    margin:0 auto;
    background-color:rgba(51, 35, 196, 0.575);
}
.nechet
{
  background-color:rgba(0, 70, 128, 0.466);
}
.chet{
  background-color:rgba(0, 217, 255, 0.548);
}
.form {
    order: 2;
}
.table, .form{
    margin: 0px;
    padding: 10px;
  }
  .selector
  {
      margin: auto;
      max-width: 50%;
  }
.popap
{
    background-color:rgba(27, 116, 119, 0.712);
    max-width: 100%; 
    margin:0 auto;
}
.mymagicoverbox {
    
    color: #1af2fa;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    font-weight: 300;
    font-family: Verdana, sans-serif;
    background-color:#2b00a0a2;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.mymagicoverbox_fenetre {
    z-index: 9999;
    position: fixed;
    margin-left: 50%;
    top: 100px;
    text-align: center;
    display: none;
    padding: 5px;
    background-color: #ffffff;
    color: #1f1b1b;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    font-family: Verdana, sans-serif;
}

.mymagicoverbox_fenetreinterieur {
    text-align: center;
    overflow: auto;
    padding: 10px;
    background-color: #ffffff;
    color: #666666;
    font-weight: 400;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    border-top: 1px solid #e7e7e7;
    margin-top: 10px
}

.mymagicoverbox_fermer {
    color: #a320cb;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    font-family: Verdana, sans-serif;
    width:100px
}

#myfond_gris {
    display: none;
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.ajaxForm {
    display: flex;
    flex-direction: column;
    padding: 15px;
}



.sendButon {
    padding-top: 5px;
    padding-bottom: 5px;
}
@media screen and (min-width: 992px) {
    .dva {
        margin: auto;
        flex-direction: column;
        max-width: 80%;
        text-align: left;
        padding-left: 5%;

    }
    #logo
    {
        margin-left: 15%;
    }
    .form{
        order: 3;
    }
    .table{
        order: 2;
    }
    .calculate {
        max-width: 70%; 
    }
    #flex {
        max-width: 70%;
    }
    .popap
    {
    max-width: 70%; 
    }
}